@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald'; 
}
html body{
    height: 100vw;
}
nav.menu-mobile{
    background-image: url(../img/barra-de-menu.png); 
    width:32px; 
    height: 32px; 
    background-size: 100% 100%; 
    float: right; 
    display: none;
    top: 30px;
    
}
/* item do menu mudar cor */
nav.menu-mobile:hover ul { 
    opacity: 1;
    }
    
nav.menu-mobile ul li:hover {
    background-color: red;
    }
    
    nav.menu-mobile ul { 
    opacity: 0;
    transition: 1s;
    background-color: white;
    position: absolute;
    width: 100%;
    left: 0;
    top: 80px; 
    list-style-type: none;
    text-align: center;
    height: 50px; 
    } 
    
    nav.menu-mobile ul li { 
    padding: 8px 0;
    background-color: black;
    border-bottom: 1px solid white;
    }
    
    nav.menu-mobile ul li a {
    color: white; 
    text-decoration: none; 
    }

nav.navbar{
    width: 100%;

}

.navbar{
    height: 90px;
    display: inline-flex;
    justify-content: space-between;
    background-color: rgb(53, 51, 51);
}


.itens-nav{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}
.itens-nav ul{
    display: inline-flex;
    list-style-type: none;
    margin-right: 10px;

}

.itens-nav li{
    text-transform: uppercase;
    color: #cccc;
}

.navbar a {
    display: flex;
    text-decoration: none;
    color: gold;
    padding: 20px;
    text-decoration: bold;
}

    

.icone-titulo{
    display: flex;
}

.icone-titulo img{
    margin: 8px;
    width: 150px;
    height: 70px;
}

.titulo-site{
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.titulo-site h1{
    text-transform: uppercase;
    color: white;
    letter-spacing: 1.5px;
}
.texto p{
    text-align: center;
    margin-bottom: 20px;
}

.fundo img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
 
.titulo-02{ 
    text-align: center;
}

.principal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.card-container{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.texto h1{
    text-align: center;
    margin-top: 10px;
}
.card1, .card2, .card3 {
   width: 27vw;
   height: 300px;
   border: solid 1px black;
   border-radius: 5px;
   margin: 5vh 2vw 5vh 2vw;
}
.card1 {
    background-image: url(/img/card1.jpg);
    background-size: cover;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
}
.card2 {
    background-image: url(/img/card2.jpg);
    background-size: cover;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
}
.card3 {
    background-image: url(/img/card3.jpg);
    background-size: cover;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
}


.video{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.video iframe {
    width: 50vw;
    height: 30vw;
    min-width: 350px;
    min-height: 300px;
}
.h2 {
    text-align: center;
}
.icone-titulo {
 display: flex;
 justify-content: space-evenly;
    
}
    
.icone-footer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    background-color: rgba(255, 0, 0, 0.658);
}
.icone-footer img {
    width: 90px;
    padding-left: 32px;
}
.icone-footer img:hover{
    transform: scale(1.4);
    transition: 0.5s;
}

@media screen and  (max-width:830px) {
.titulo-site h1 {
    font-size: 15px;
    margin-right: 100px;
}

nav.menu-mobile  {
    flex-direction: column-reverse;
    display: block;
    

   
}

.itens-nav{
        display: none;
    }

.card-container {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

}
